.mb-2{
    width: 150px;
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.darkcolor{
    background-color: rgb(95, 122, 189) !important;
}
.text-primary{
    color: rgb(95, 122, 189) !important;
}
.email-color{
    color: rgb(95, 122, 189) !important;
}